@media (max-width: 1400px)

  div[class*=header--promo-item-logo]
    height: 110px
    height: px-to-rem(110)
    width: 110px
    width: px-to-rem(110)

  span[class*=submit]
    font-size: 22px
    font-size: px-to-rem(22)
  
  header
    padding: 65px 90px 70px
    padding: px-to-rem(65) px-to-rem(90) px-to-rem(70)

  .header--promo-item-title
    font-size: 16px
    font-size: px-to-rem(16)
    margin: 15px auto 70px
    margin: px-to-rem(15) auto px-to-rem(70)

  .header--promo
    width: 460px
    width: px-to-rem(460)

  .header--promo-item
    width: 140px
    width: px-to-rem(140)

  .header--title
    font-size: 50px
    font-size: px-to-rem(50)

  .header--title__important
    font-size: 78px
    font-size: px-to-rem(78)
    &:first-child
     font-size: 88px
     font-size: px-to-rem(88)
     font-weight: 500

  .gallery--download-socials
    height: 210px
    height: px-to-rem(210)

  .gallery--download-title__important
    width: 266px
    width: px-to-rem(266)

  .gallery--download-submit
    padding: 20px 50px
    padding: px-to-rem(20) px-to-rem(50)
    margin-top: 35px
    margin-top: px-to-rem(35)

  .gallery--photos
    padding: 30px 25px
    padding: px-to-rem(30) px-to-rem(25)

  .gallery--photos-row:not(:last-child)
    margin-bottom: 5px
    margin-bottom: px-to-rem(5)

  .about--get-prize-title
    font-size: 54px
    font-size: px-to-rem(54)

  .about--get-prize-description
    font-size: 18px
    font-size: px-to-rem(18)

  .summer--map-submit
    padding: 20px 50px
    padding: px-to-rem(20) px-to-rem(50)
    margin: 30px auto 55px
    margin: px-to-rem(30) auto px-to-rem(55)

  .summer--map-logo
    height: 340px
    height: px-to-rem(340)
    margin-top: 65px
    margin-top: px-to-rem(65)

  .summer--map-title
    font-size: 60px
    font-size: px-to-rem(60)
    margin-top: 484px
    margin-top: px-to-rem(484)

  footer
    height: 90px
    height: px-to-rem(90)

  .footer--info-logo
    margin-left: 25px
    margin-left: px-to-rem(25)
    transform: scale(1)
    height: 50px
    height: px-to-rem(50)

  .footer--info-title
    margin-left: 10px
    margin-left: px-to-rem(10)
    font-size: 12px
    font-size: px-to-rem(12)

  .footer--socials
    width: 360px
    width: px-to-rem(360)
