@function px-to-rem($px)
  @return ($px/16) + rem

.about--get-prize
  background: url(../img/about-get-prize.jpg)
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  position: relative
  transition: all 0.4s
  &:after
    content: ""
    display: block
    background: url(../img/about-triangle.png)
    width: 120px
    height: 120px
    width: px-to-rem(120)
    height: px-to-rem(120)
    position: absolute;
    transform: rotate(-136deg)
    right: -24px
    right: px-to-rem(-24)
    top: 205px
    top: px-to-rem(205)
    z-index: 1
    background-size: cover

.about--get-prize-submit
  background: rgba(0,0,0,0.1)
  padding: 20px 0
  padding: px-to-rem(20) 0
  margin: 0 0 90px 80px
  margin: 0 0 px-to-rem(90) px-to-rem(80)

.about--get-prize-title
  color: white
  font-weight: bold
  font-size: 60px
  font-size: px-to-rem(60)
  width: 300px
  width: px-to-rem(300)
  display: inline-block
  position: relative
  top: -45px
  top: px-to-rem(-45)

.about--get-prize-description
  display: block
  margin: 40px 0 40px
  margin: px-to-rem(40) 0 px-to-rem(40)
  padding: 0 110px 0 80px
  padding: 0 px-to-rem(110) 0 px-to-rem(80)
  color: white
  font-size: 20px
  font-size: px-to-rem(20)
  font-weight: 400

.about--get-prize-salt-pack
  margin-left: 45px
  margin-left: px-to-rem(45)
  margin-top: 105px
  margin-top: px-to-rem(105)
  height: 301px
  height: px-to-rem(301)

// Теперь шарик

.about--baloon
  transition: all 0.4s

.about--baloon-wrapper
  width: 100%
  overflow: hidden
  transition: all 0.4s
  img
    display: block
    width: 100%
