$important-color: #f73934;
$grey-text-color: #555555

$content-justify: space-between;

header
	background: cadetblue
	background: url(../img/header-background.jpg)
	background-position: right bottom
	padding: 75px 80px
	background-repeat: no-repeat
	background-size: cover

.header--title
	color: $important-color
	font-size: 56px
	width: 300px
	display: block
	font-weight: 100
	position: relative
	line-height: 56px

.header--title__important
	font-size: 88px
	font-weight: bold
	&:first-child
		font-size: 98px
		font-weight: 500

.header--promo
	display: flex
	width: 525px
	justify-content: $content-justify

.header--promo-item
 display: inline-block
 width: 150px

.header--promo-item-title
	color: #45370a
	font-size: 18px
	display: block
	text-align: center
	margin: 20px auto 80px
	font-weight: 500

.header--promo-item-title__important
	color: $important-color

div[class*="header--promo-item-logo"]
	width: 125px
	height: 125px
	display: block
	background-color: white
	border-radius: 50%
	background-position: center center
	background-repeat: no-repeat
	margin: auto

.header--promo-item-logo__photo
	background-image: url(../img/header-photo.png)

.header--promo-item-logo__like
	background-image: url(../img/header-heart.png)

.header--promo-item-logo__prize
	background-image: url(../img/header-prize.png)
