.summer--photo
  background: url(../img/summer-photo-background.jpg) no-repeat
  background-size: cover

.summer--map
  position: relative
  background: url(../img/summer-map-background.jpg) no-repeat
  background-size: cover

.summer--map-logo
  display: block
  margin: 75px auto 15px

.summer--map-title
  display: block
  font-size: 67px
  font-weight: bold
  text-align: center
  color: #301f20

.summer--map-submit
  padding: 22px 55px
  margin: 35px auto 60px

.summer--map-triangle
  width: 60px
  height: 60px
  background: url(../img/summer-map-background.png) 100px
  position: absolute
  transform: rotate(45deg)
  left: -30px
  top: 345px
